<footer class="block md:hidden border-t-4 border-solid border-orange-500">
  <div class="my-4">
    <h4 class="text-center mb-2 font-extrabold">Nuestras Redes</h4>
    <ul class="flex justify-around">
      <li class=""><a href="https://www.facebook.com/CarrefourArgentina" class="fb-ic" role="button" target="_blank"
          rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a></li>
      <li class=""><a href="https://twitter.com/carrefourarg" role="button" target="_blank" rel="noopener noreferrer"><i
            class="fab fa-twitter"></i></a></li>
      <li class=""><a href="https://www.instagram.com/carrefourargentina" class="fb-ic" role="button" target="_blank"
          rel="noopener noreferrer"><i class="fab fa-instagram"></i></a></li>
      <li class=""><a href="http://www.youtube.com/user/carrefourargentina" role="button" target="_blank"
          rel="noopener noreferrer"><i class="fab fa-youtube"></i></a></li>
      <li class=""><a href="https://www.linkedin.com/company/carrefour-argentina-s-a-" role="button" target="_blank"
          rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a></li>
    </ul>
  </div>
  <div class="container w-full">
    <div class="shadow-md">
      <div class="tab w-full overflow-hidden border-t">
        <input class="absolute opacity-0" id="tab-single-one" type="radio" name="tabs2" />
        <label class="block p-5 leading-normal cursor-pointer font-semibold text-center" for="tab-single-one">Carrefour
          Express</label>
        <div class="tab-content overflow-y-auto border-l-2 bg-gray-100 border-orange-400 leading-normal px-5">
          <ul class="text-center py-3">
            <li><a href="/sucursales.html"><i class="fas fa-map-marker-alt"></i> Sucursales</a></li>
            <li><a href="/compra-telefonica.html"><i class="fas fa-phone-alt"></i> Compra Telef&oacute;nica</a></li>
          </ul>
        </div>
      </div>
      <div class="tab w-full overflow-hidden border-t">
        <input class="absolute opacity-0" id="tab-single-two" type="radio" name="tabs2">
        <label class="block p-5 leading-normal cursor-pointer font-semibold text-center" for="tab-single-two">Sobre
          Carrefour</label>
        <div class="tab-content overflow-y-auto border-l-2 bg-gray-100 border-orange-400 leading-normal px-5">
          <ul class="text-center py-3">
            <li><a href="https://landings.carrefour.com.ar/masresponsablesquenunca/" target="_blank"
                rel="noopener noreferrer">M&aacute;s
                Responsable Que
                Nunca</a></li>
            <li><a href="https://panelcarrefour.com.ar/express/registrate.php" target="_blank"
                rel="noopener noreferrer">Panel Carrefour</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="tab w-full overflow-hidden border-t">
        <input class="absolute opacity-0" id="tab-single-three" type="radio" name="tabs2">
        <label class="block p-5 leading-normal cursor-pointer font-semibold text-center" for="tab-single-three">Estamos
          para ayudarte</label>
        <div class="tab-content overflow-y-auto border-l-2 bg-gray-100 border-orange-400 leading-normal px-5">
          <ul class="text-center py-3">
            <li><i class="fas fa-envelope"></i> <a
                href="mailto:atencion_clientes@contactocarrefour.com.ar">Atenci&oacute;n
                Clientes</a></li>
            <li><i class="fas fa-headset"></i> <a href="tel:+5408004448484">0800-444-8484</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center bg-white py-2 font-semibold text-gray-800">
    <small>Copyright <span id="year"></span> &copy; Carrefour <br> Todos los derechos reservados</small>
  </div>
</footer>